@model Costume
@{
    ViewData["Title"] = "Galeri";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header" style="background-color: #87CEEB; color: white;">
            <h2 class="mb-0"><i class="bi bi-plus-circle"></i> Fotoğraf Ekle</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" asp-action="AddGallery" class="row g-3">

                <!-- Ürün Görseli -->
                <div class="col-12">
                    <label class="form-label"><i class="bi bi-card-image"></i> Ürün Görseli</label>
                    <div class="d-flex align-items-center">
                        <div class="me-3">
                            <img src="~/img/profile.png" alt="Ürün Görseli" id="profile-picture" class="img-thumbnail" style="max-width: 150px; max-height: 150px;">
                        </div>
                        <div class="flex-grow-1">
                            <input class="form-control" type="file" accept="image/jpeg,image/png,image/jpg" id="input-file" asp-for="ImageFile" required />
                            <span id="fileError" class="error-message text-danger" asp-validation-for="ImageFile"></span>
                        </div>
                    </div>
                </div>

                <!-- Kaydet Butonu -->
                <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="btn btn-success me-2"><i class="bi bi-check-lg"></i> Kaydet</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    const inputFile = document.getElementById('input-file');
    const profilePicture = document.getElementById('profile-picture');

    inputFile.addEventListener('change', function (event) {
        const file = event.target.files[0];

        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                profilePicture.src = e.target.result;
            };

            reader.readAsDataURL(file);
        }
    });
</script>
