@model List<WaggyProject.Entities.Product>

<div class="col-md-12 col-xl-8">
    <h5 class="mb-3">Ürünler</h5>

    <div class="card tbl-card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-borderless mb-0">
                    <thead>
                        <tr>
                            <th>Ürün Id</th>
                            <th>Ürün İsmi</th>
                            <th>Fiyat</th>
                            <th>Değerlendirme</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><a href="#" class="text-muted"></a>@item.ProductId</td>
                                <td>@item.ProductName</td>
                                <td>@item.ProductPrice ₺</td>
                                <td class="text-center">
                                    <span class="text-warning">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (i <= item.Review)
                                            {
                                                <i class="bi bi-star-fill"></i>
                                            }
                                            else
                                            {
                                                <i class="bi bi-star"></i>
                                            }
                                        }
                                    </span>
                                    <span class="text-muted ms-2">(@item.Review / 5)</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
